.header-info {
  height: 37px;
  font-size: 14px;
  font-weight: 400;
  background-color: #F3EFEB;
  color: #828282;
  border: $border-1 solid #D7C9BB;
  a {
    text-decoration: none;
    color: #828282;

    &:hover {
      text-decoration: underline;
    }
  }
}