.btn {
  height: 50px;
  border-radius: 8px;
  font-family: 'Gotham', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &--primary {
    background-color: $btn-primary-normal;
    color: white;

    &:hover {
      background-color: $btn-primary-hover;
      color: white;
    }

    &:active {
      background-color: $btn-primary-click;
      color: white;
    }

    &.is-disabled {
      background-color: $btn-primary-disabled;
      pointer-events: none;
      cursor: not-allowed;
      color: white;
    }

    &.is-activo {
      background-color: $btn-primary-activo;
      color: white;
    }
  }

  &--secondary {
    background-color: $btn-secondary-normal;
    color: #1C1B1C;

    &:hover {
      background-color: $btn-secondary-hover;
      color: #1C1B1C;
    }

    &:active {
      background-color: $btn-secondary-click;
      color: #1C1B1C;
    }

    &.is-disabled {
      background-color: $btn-secondary-disabled;
      pointer-events: none;
      cursor: not-allowed;
      color: #1C1B1C;
    }

    &.is-activo {
      background-color: $btn-secondary-activo;
      color: #1C1B1C;
    }
  }

  &--tertiary {
    background-color: $btn-tertiary-normal;
    color: #1C1B1C;

    &:hover {
      background-color: $btn-tertiary-hover;
      color: #1C1B1C;
    }

    &:active {
      background-color: $btn-tertiary-click;
      color: #1C1B1C;
    }

    &.is-disabled {
      background-color: $btn-tertiary-disabled;
      pointer-events: none;
      cursor: not-allowed;
      color: #1C1B1C;
    }

    &.is-activo {
      background-color: $btn-tertiary-activo;
      color: #1C1B1C;
    }
  }
}
